{% block _frisdrank_prijs_row %}
    <label for="{{form.vars.id}}">Prijs</label> <br>
    <input type="number" step="0.01" name="{{form.vars.full_name}}" value="{{form.vars.value}}" id="{{form.vars.id}}"> <br>
{% endblock %}

{% block _frisdrank_aantal_row %}
    <label for="{{form.vars.id}}">Aantal</label> <br>
    <input type="number" name="{{form.vars.full_name}}" value="{{form.vars.value}}" id="{{form.vars.id}}" max="20"> <br>
{% endblock %}

{% block submit_row %}
 <input type="submit" value="{{form.vars.name}}">
{% endblock %}